/lambda/lambda_package.zip
/lambda/lambada_package/PyJWT-2.9.0.dist-info/
/lambda/lambada_package/jwt/
/lambda/lambada_package/jose-1.0.0.dist-info/
/lambda/lambada_package/bin/
/lambda/lambada_package/jose.py
